html {
}

body {
	font-family: ArcherPro-Medium, sans-serif;
	font-weight:300;
	letter-spacing:.03rem;
	font-size:1.6rem;
	background-color: #F5EFE7;
}

@font-face {
    font-family: Archer;
    src: url(fonts/ArcherPro-Medium.otf);
}

@font-face {
    font-family: Archer;
    src: url(fonts/ArcherPro-Bold_0.otf);
    font-weight:bold;
}

@font-face {
	font-family:Archer;
	src: url(ArcherPro-MediumIta.otf);
	font-style:oblique;
}

.push-top{
	margin-top:10rem;
}

h3{
	text-transform:uppercase;
	letter-spacing:.2rem;
	margin-bottom:.4rem;
}

h4{
	font-size:2rem;

}

h6{
	font-size:1.3rem;
	font-style:oblique;
	color:#525352;
	margin-top:0;

}


/* */

.thumbnail {
	background-color: transparent;
	border:none;
	padding:none;
}

.caption{
	margin-top:1rem;

}

.btn-custom {
	width:100%;
	background-color:#3B3838;
	border-radius:0;
	color:#F5EFE7;
	font-size:1.6rem;
	border:0;
	margin-top:1.2rem;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
	background-color: #7F9155;
}

.water-status-red{
	color:#DB3535;
	margin-left:5px;
}

.water-status{
	margin-left:5px;
}

.drop {
	margin-bottom:3px;

}

a:hover, a:active {
	cursor:hand;
}



/* hover effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  
}

.hovereffect:hover .overlay {
  background-color: rgba(127, 145, 85, 0.4);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* hover effect*/





a{
	color:#3B3838;
}

a:hover, a:focus, a:active{
	color:#7F9155;
	text-decoration: none;
}


.push-bottom{
	margin-bottom:4rem;
}

.footer {
	margin-top:5rem;
	text-align:right;
}

/*






.new-icon{
	width:45px;
}

.center {
	text-align:center;
	padding-left:2rem;
	padding-right:2rem;
	padding-bottom:1rem;
}

.row {
	margin-bottom: 2rem;
	margin-top:2rem;
}




.heavy {
	font-family:Rokkitt;
	font-weight:400;
}


/* Full Width 'Jumbotron' */

/*

.full{
	background-image:url("../img/banner.jpg");
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6);
	height:31rem;
	background-attachment: fixed;
    background-position: top;
    background-repeat: repeat;
  
}


@media (min-width: 992px) {
	.full {
		min-height:100%: 
		min-width:1024px;
	}

	h6 {
		font-size:2.1rem;
	}
} 



.button{
  	font-family: 'Rokkitt', serif;
  	font-size:2rem;
  	color:#333333;
    padding: .5rem 2rem;
    text-align: center;
    display: inline-block;
   
    -webkit-transition-duration: 0.4s; /* Safari */

    /*
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #FFCD09;
}

.button:hover {
    background-color: #FFCD09;
    color: white;
}


/* End Full Width 'Jumbotron'! */


/* Nav! */

#main-nav {
	margin-left: auto;
	margin-right:auto;
	width:90%;
	
	
}
#main-nav ul{
	text-align:center;
	padding-top:.8rem;
	
}

#main-nav li{
	padding-left:.8rem;
	padding-right:.8rem;
}


.navbar {
	font-size:1.5rem;
	min-height: 70px;
	background-color: #3B3838;
	color:#F5EFE7;

}

.navbar-header {
	height:70px;
}

.navbar-toggle {
	margin-top:18px;
}

a.current {
	font-weight:bold;
	text-decoration: underline;
}

.navbar img {
	margin-right:.6rem;	
}


.navbar-default .navbar-text {
  color:#F5EFE7;
}
.navbar-default .navbar-nav > li > a {
  color:#F5EFE7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7F9155;
  background-color: transparent;
}


#navbar {
	margin-bottom:1rem;
}

.navbar-link{
	padding-top:5px;
	text-align:center;
}


.navbar-link a {
	color:#F5EFE7;
	font-size:1.3rem;
}

.navbar-link a:hover, a:active {
	color:#7F9155;
}


/* Carousel */
body {
  padding-top: 50px;
}
.carousel-inner {
  background: url("../img/onboard-bg.jpg") green center center no-repeat;
  min-height: 800px;  
  width:100%;
}

.carousel-caption {
  position: initial;
}

.carousel-control.left, .carousel-control.right {
  background: transparent;
}

h4 {
	padding-top: 25rem;
	color: #F5EFE7;
  	text-shadow: none;
  	font-size:3rem;
}

.onb {
	padding-top:2rem;
	padding-bottom:2rem;
	font-style:oblique;
	text-shadow:none;
	color:#F5EFE7;
	font-size:2rem;
}


.btn-custom-onb {
	background-color:transparent;
	border-radius:0;
	color:#F5EFE7;
	font-size:1.6rem;
	border:1;
	border-color: #3B3838;
	margin-top:1.2rem;
}

.btn-custom-onb:hover, .btn-custom-onb:focus, .btn-custom-onb:active {
	background-color: #3B3838;
	border-color:#F5EFE7;
}

/* Carousel */






/* CHange breakpoint *
@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* Nav! */


/* Footer! *//*
.footer .col-md-4 {
	padding-left:0;
}
 

.footer{
	background-color: #333333;
	padding-top:4rem;
	padding-bottom: 5rem;
	margin:0;
}

.footer p{
	color:#fff;
}

.footer h4{
	color:#fff;
}

.social{
	list-style-type: none;
	padding:0;
	margin-top:0;
	margin-bottom:1.4rem;
}

.social li {
	display:inline;
	margin-right:5px;
	
}

.social li img{
	height:25px;
	margin-bottom:10px;
}

.social li:hover{
	opacity:.5;

	transition: ease-in-out .2s;
}

.hours li {
	color:#fff;

}

.hours {
	list-style-type: none;
	padding-left:0;
}



*/

/* End footer! */



@media (min-width: 768px) {

.navbar {
	height: 70px;
}

.navbar ul {
	height: 70px;
}

.navbar ul li {
	height: 70px;	
}

.navbar ul li a {
	height: 70px;
	padding-top: 17px;
}

}

@media (min-width:992px) {

.container {
	max-width:1000px;
	padding-left:0;
}
}
 /*
.color-block {
	background-color: ##F5EFE7;
}

*/